h2{
    color: crimson;
    background-color: aqua;
    text-align: center;
}
h3{
    color: red;
    background-color: aquamarine;
    text-align: center;

}
a{
    color: rgb(60, 13, 230);
    margin: 20;
    padding: auto;

}